<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tech Reads Blog</title>
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
    <link rel="stylesheet" href="/stylesheets/custom.css">
</head>
<body>
    <header>
        <h1><a href="/">Tech Reads Blog</a></h1>
        <nav>
        <a href="/dashboard"><button id="dashboard">Dashboard</button></a>
        <a href="/login"><button id="login">Login</button></a>
        <a href="/"><button id="logout" class="">Logout</button></a>
    </nav>
    </header>
    <main>
        {{{ body }}}
    </main>
    <footer>
        <p>Just some thoughts on tech reads</p>
    </footer>
    
</body>
</html>