<form class="edit-post-form">
    <article class="edit-post">
        <div class="top-bar"><hr></div><!-- got rid of article, experimenting wiht hr-->
        <p>Edit Post</p>
        <label for="post-title">Title</label>
        <input type="text" id="post-title" name="post-title" value="{{post.title}}"/>
        <label for="post-content">Content</label>
        <textarea name="post-content" id="post-content">{{post.post_content}}</textarea>
        <button type="submit" id="update-post">Update Post</button>
        <button type="submit" id="delete-post">Delete Post</button>
        
    </article>
</form>
{{> create-post}}