<form class="signup-form">
    <p>
        <label>Username</label>
        <input type="text" name="username" id="username">
    </p>
    <p>
        <label for="password-signup">Password</label>
        <input type="password" name="password-signup" id="password-signup">
    </p>
    <button type="submit">Signup!</button>
    <p><a href="/login">Login instead</a></p>
</form>
<script src="/js/signup.js"></script>