.title {
    background-color: lightgrey;
    padding: 0.2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
span {
    font-size: small;
}
.post-content {
    padding: 0.3rem;
    margin: 0.3rem;
}
header>nav a, header>nav a:visited {
    border: none;
}
.login-form {
    border: 1px solid gray;
    padding: 1rem;
    border-radius: 15px;
}
hr {
    border: solid 1rem;
}